@media screen  and (max-width:576px){
    p{
        font-size:10px;
    }
    .icn{
        display: block;
    }
    .txt_nav{
        display: none;
        padding: 0;
    }
}
@include media-breakpoint-down(md) {
    p{
        font-size:10px;
    }
}