@media screen  and (max-width:576px){
    p{
        font-size:10px;
    }
    
}
@media screen  and (min-width: 576px) {
    .fs_7{
        font-size: 0.5em;
    }
}
@media  screen and (max-width: 1200px) and (max-width: 768px) {
    .fs_7{
        font-size: 0.7em;
    }
}
@include media-breakpoint-down(md) {
    p{
        font-size:10px;
    }
}