header{
    background-color: rgb(125, 160, 195);
}

.black{background-color: black;}
.gray{background-color: slategray;}
.viol{background-color: rgb(48, 119, 141);}
.green{background-color: rgb(98, 156, 69);}
.w-30{width: 30%;}

.hr{
    
}